<%= form_with model: @calculation, local: true do |form| %>

    <% if @calculation.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@calculation.errors.count, "error") %> prohibited this calculation form
                being saved:
            </h2>
                <ul>
                    <% @calculation.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
    </p>

    <p>
        <%= form.label :middle_name %><br>
        <%= form.text_field :middle_name %>
    </p>

    <p>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
    </p>

      <p>
        <%= form.label :date_of_birth %><br>
        <%= form.date_select(:date_of_birth, :start_year => 1905) %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>